
@{
    ViewData["Title"] = "Ticket";
}
@model HomepageVM

<div class="container mt-5">
    <h1 class="text-center mb-5">Event Ticket</h1>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card bg-light mb-3">
                <div class="card-header text-center"><strong>Ticket ID:</strong> @Model.user.EventTickets.FirstOrDefault(u=>u.EventId == Model.Event.EventId).TicketId.ToString()</div>
                <div class="card-body">
                    <p class="card-text">Thank you for purchasing a ticket for our upcoming event! Your ticket is attached below. Please bring a printed copy of this ticket with you to the event, or have it available on your phone.</p>
                    <hr>
                    <p class="card-text"><strong>Event Details:</strong></p>
                    <ul>
                        <li>Date: @Model.Event.EventDate.ToShortDateString()</li>
                        <li>Time: @Model.Event.EventDate.Hour</li>
                        <li>Location: @Model.Event.EventLocation</li>

                    </ul>
                    <hr>
                    <p class="card-text"><strong>Ticket Holder Information:</strong></p>
                    <ul>
                        <li>Name: @Model.user.Name</li>
                        <li>Email: @Model.user.Email</li>
                    </ul>
                </div>
                <div class="card-footer text-center">We look forward to seeing you at the event!</div>
            </div>
        </div>
    </div>
</div>